<ul class="nav_list">
    @{
        if (User.Identity.IsAuthenticated)
        {
            <li>@Html.ActionLink("Выйти", "Logout", "Account")</li>
            <li>@Html.ActionLink("Создать задание", "Create", "Order")</li>
        
        }

        else
        {
        <li>@Html.ActionLink("Регистрация", "Register", "Account")</li>
        <li>@Html.ActionLink("Вход", "Logon", "Account")</li>
        }
    }

</ul>

