@using Lemon.Common
@model Lemon.WebApp.Controllers.MainPageViewModel

@{
    ViewBag.Title = "Just a test";
}

@foreach (var order in Model.Orders)
{
    <div class="order-preview-holder">
        @Html.ActionLink(order.Title, "Details", "Order", new { id = order.Id }, new {@class = "autoellipses order-title"})
        <span class="order-time">@order.CreatedTimeOut</span>
        <div class="order-content ">@order.Content.AutoEllipses(100)</div>
    </div>
}