@model Lemon.WebApp.Controllers.MainPageViewModel

@{
    ViewBag.Title = "Just a test";
}

@foreach(var order in Model.Orders)
{
    <p class="order-title">@order.Title</p>
    <p>@order.Content</p>
    
}