body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

/*Main*/

.autoellipses {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}




/*----------------------------*/
input[type="submit"]{
    border-radius: 20px;
    font-size: 16px;
    padding: 10px;
    background-color: rgba(230, 230, 60, 1);
}


/*------------------------------*/
.order-title {
    font-weight: bold;
    width: 250px;
    display: inline-block;
    text-decoration: none;
}

.order-title:visited {
    color: rgb(100, 100, 100)
}

.order-title:hover {
    text-decoration: underline;
}


.order-time {
    margin-left: 50px;
    display: inline-block;
    color: rgba(0,0,0, 0.7);
}

.order-content {
    width: 400px;
    height: 100px;
    word-wrap: break-word;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*FORMS*/

.form-item {
    margin-left: 40px;
    margin-bottom: 20px;
    position: relative;
}

.form-item label {
    width: 180px;
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
}

input[type="text"],
input[type="password"] {
    width: 250px;
    height: 28px;
    box-shadow:  1px 1px 0px rgba(0,0,0,0.3);
    font-size: 16px;
}

textarea {
    width: 250px;
    height: 150px;
    resize: none;
    box-shadow: inset 1px 1px 0px rgba(0,0,0,0.3);
    font-size: 16px;
}


.comment {
    border-bottom: solid 1px;
    margin-bottom: 10px;
}

.comment-time {
    
}

.comment-price {
    margin-left: 50px;
}


.search input[type="text"]{
    width: 85%
}